<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>PatientCare | System</title>
</head>
<body>
  <div class="container">
      <h1>Patient History:</h1>
      <ul>
        {% for patients in patients %}
        <li>{{ patients[1] }} - {{ patients[2] }} anos - {{ patients[3] }}</li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('newPatient') }}"><button class="addPatient">Add New Patient</button></a>
      <a href="{{ url_for('eraseHistory') }}" class="eraseHistory">Erase History</a>
  </div>
</body>
</html>