<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>PatientCare | System</title>
</head>
<body>
  
  <div class="container">
      <img src="{{ url_for('static', filename='images/patientCare.svg') }}" alt="patientCare">
      <h1>Patient History</h1>
      <div id="line"></div>
      <ul>
        {% for patient in patients %}
        <li><a href="{{ url_for('viewPatient', id=patient[0]) }}">{{ patient[1] }}</a> | {{ patient[2] }} Years | {{ patient[3] }}</li>
        {% endfor %}
      </ul>
      <div class="buttons">
        <a href="{{ url_for('newPatient') }}"><button class="addPatient">Add New Patient</button></a>
        <a href="{{ url_for('eraseHistory') }}" class="eraseHistory">Erase History</a>
      </div>
  </div>
  <p>© 2024 Nader Fares.</p>
</body>
</html>