<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='patient_details.css') }}">
  <title>Patient Details | {{ patient_name }}</title>
</head>
<body>
  <div class="container">
    <div style="width: 100%;">
      <img src="{{ url_for('static', filename='images/patientCare.svg') }}" alt="patientCare">
    </div>
    <div class="record">
      <img src="{{ url_for('static', filename='images/patient.svg') }}" alt="">
      <div class="record-content">
        <div class="record-title">
          {{ patient[1] }}
        </div>
        <div class="record-body">
          <div class="record-item">
            <div class="record-item-title">Age</div>
            <div class="record-item-value">{{ patient[2] }}</div>
          </div>
          <div class="record-item">
            <div class="record-item-title">Gender</div>
            <div class="record-item-value">{{ patient[3] }}</div>
          </div>
          <div class="record-item">
            <div class="record-item-title">Document</div>
            <div class="record-item-value">{{ patient[4] }}</div>
          </div>
          <div class="record-item">
            <div class="record-item-title">Address</div>
            <div class="record-item-value">{{ patient[5] }}</div>
          </div>
          <div class="record-item">
            <div class="record-item-title">Phone</div>
            <div class="record-item-value">{{ patient[6] }}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; display: flex; gap: 1rem; align-items: center; justify-content: end;">
      <a class="returnbtn" href="{{ url_for('index') }}">Return</a>
      <button id="editBtn">Edit Registry</button>
      <form action="/patient/{{ patient[0] }}/remove" method="post">
        <input id="deletebtn" type="submit" value="Delete Registry">
      </form>
    </div>
  </div>
  <script>
    document.getElementById("editBtn").addEventListener("click", function() {
      window.location.href = "/patient/{{ patient[0] }}/edit";
    });
  </script>
</body>
</html>